
.manjariFont {
    font-family: 'Manjari', sans-serif;
    color: #003399;
}
.markerFont {
    font-family: 'Permanent Marker', cursive;
    color: #003399;

}
.col-4.px-5.py-5.border.grid {
    position: relative;
}

html, body {
    background-color: #ffdccc;
}
#resetBtn, #toggleMenace {
    background-color: #003399
}
